@media (min-width: 768px) {
  .burgermenu {
    display: none;
  }

  .menu {
    all: unset;
  }

  .menu-style {
    font-size: 1rem;
  }

  .menu-item {
    width: 100%;
    border-bottom: none;
  }

  #mail-icon {
    display: block;
  }

  #lineHide {
    display: block;
  }

  #navcontainer {
    padding: 0 12px;
  }

  #menu-container {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 12px 12px;
  }

  #top {
    flex-direction: row;
    background-image: url(./img/Illustration-header-dsktp.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
  }

  #headercontainer {
    margin: 0 10% 0 10%;
    width: 30rem;
    font-size: 1.2rem;
    padding: 10rem 24px;
  }

  #mainaxis {
    display: block;
    position: absolute;
    left: 3%;
    top: 21rem;
  }

  #work-subt {
    display: flex;
    background-color: #fff;
    align-items: center;
  }

  .vector {
    height: 2px;
    margin: 120px 24px 40px 24px;
    padding-right: 10%;
    width: 50%;
  }

  #center {
    text-align: left;
    color: #1c1a19;
    font-size: 40px;
    font-weight: 400;
    margin: 120px 24px 40px 24px;
    padding: 0 10% 0 10%;
    border: none;
  }

  .grid-container {
    grid-template-columns: auto auto;
    padding-left: 10%;
    padding-right: 10%;
  }

  #grid-item1 {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-content {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-start;
    gap: 1rem;
  }

  .grid-span {
    width: 60%;
    height: auto;
    padding-right: 1.5rem;
  }

  #subtitle {
    margin: 0;
  }

  .aboutlang {
    flex-direction: row;
    background-image: url(./img/about-img-desktp.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 35%;
  }

  .aboutcontainer {
    margin: 0 10% 0 10%;
    width: 30rem;
    font-size: 1.2rem;
    height: 100vh;
  }

  #bg-img {
    display: none;
  }

  #divider2 {
    margin: 10%;
    width: 80%;
  }

  #divider {
    display: none;
  }

  .aboutcontainer2 {
    display: flex;
    margin: 0 10% 0 10%;
    font-size: 1.2rem;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 8rem;
  }

  .lang-list-item {
    line-height: normal;
  }

  .form {
    display: flex;
    flex-direction: row;
  }

  .form2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: 1px lightgray solid;
  }

  #get-in-touch {
    width: 36%;
  }

  .formTitle {
    text-align: left;
    margin-left: 10%;
    margin-right: 1.5rem;
  }

  .form-desktop {
    align-items: center;
    justify-content: center;
    width: 64%;
  }

  form {
    align-items: flex-start;
    padding-top: 120px;
    border: none;
  }

  #large-form {
    width: 100%;
  }

  .formUl {
    width: 70%;
    margin-left: 5rem;
  }

  textarea {
    width: 100%;
  }

  #last-btn {
    margin-left: 5rem;
  }
}
