@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: auto auto auto;
  }

  #grid-item1 {
    grid-column: 1 / 4;
  }

  .main {
    top: 3rem;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    background: white;
    display: flex;
    z-index: 1;
    position: fixed;
    padding: 0 2rem;
    flex-shrink: 1;
    box-shadow: 0 10px 50px 50px rgba(0, 0, 0, 0.753);
    transition: 0.5s;
  }

  .close {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 6.5rem;
    right: 6rem;
  }

  .close:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    visibility: visible;
  }

  .row-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }

  .dark-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 200;
    overflow: hidden;

    /* position: fixed; */
  }

  .font-size {
    font-size: 1rem;
    width: 100%;
    line-height: 2rem;
    margin: 0;
  }

  .center-btn {
    display: block;
    gap: 7rem;

    /* position: absolute; */
    right: 17.2rem;
    bottom: 2.2rem;
  }

  .btn-style {
    padding: 12px;
    background-color: #ff6b00;
    color: white;
    border: 1px solid #ff6b00;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .pad-bot {
    padding-bottom: 0;
  }

  .fs {
    font-size: 13px;
    padding: 10px 12px;
  }

  #source {
    border: 1px solid #cc4b02;
    background-color: none;
    padding: 0;
  }

  #link {
    border: 1px solid #cc4b02;
    background-color: none;
    padding: 0;
    margin-right: 12px;
  }

  .btn-style:hover {
    background-color: #fff5e1;
    border: 1px solid #cc4b02;
    color: #cc4b02;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }

  #modal-title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #172b4d;
    line-height: 44px;
    margin-bottom: 0;
  }

  .centerImage {
    width: 100%;
    max-width: 720px;
    justify-content: center;
    margin-right: 2rem;
  }
}
