@media (min-width: 1600px) {
  .herotext {
    font-size: 1.5rem;
    line-height: 36px;
    width: 40rem;
  }

  #subhero {
    font-size: 2rem;
  }

  .hero {
    font-size: 4.5rem;
    line-height: 5rem;
  }

  #subtitle {
    font-size: 3rem;
  }

  #text-content {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .full-width-btn {
    margin: 12px 0 0 0;
  }

  .grid-item2 {
    justify-content: space-between;
    box-sizing: content-box;
  }

  .grid-item-last {
    justify-content: space-between;
    box-sizing: content-box;
  }

  .main {
    top: 3rem;
    left: 3rem;
    right: 3rem;
    bottom: 3rem;
    background: white;
    display: flex;
    z-index: 1;
    position: fixed;
    padding: 0 2rem;
    flex-shrink: 1;
    box-shadow: 0 10px 50px 50px rgba(0, 0, 0, 0.753);
    transition: 0.5s;
  }

  .close {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 6.5rem;
    right: 6rem;
  }

  .close:hover {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    visibility: visible;
  }

  .row-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
  }

  .dark-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    z-index: 200;
    overflow: hidden;

    /* position: fixed; */
  }

  .font-size {
    font-size: 1.5rem;
    width: 100%;
    line-height: 2.5rem;
    margin: 0;
  }

  .center-btn {
    display: block;
    gap: 7rem;

    /* position: absolute; */
    right: 17.2rem;
    bottom: 2.2rem;
  }

  .btn-style {
    padding: 12px;
    background-color: #ff6b00;
    color: white;
    border: 1px solid #ff6b00;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  .pad-bot {
    padding-bottom: 0;
  }

  .fs {
    font-size: 13px;
    padding: 10px 12px;
  }

  #modal-title {
    font-size: 3.5rem;
  }
}
