@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Crete Round', serif;
}

h3,
p {
  font-family: 'Inter', sans-serif;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}
button {
  transition: all 160ms ease-in;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background-color: #e05304;
  color: white;
}

#top {
  background-color: #1c1a19;
  background-image: url(/img/Illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 35%;
  height: 100vh;
  width: auto;
}

#mainaxis {
  display: flex;
  margin: 0;
  padding: 0;
}

#navcontainer {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

#menulogo {
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  margin-left: 12px;
}

#burgermenu {
  margin-right: 12px;
}

#headercontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 120px 24px;
  margin: 0;
}

.hero {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  margin-bottom: 12px;
}

#subhero {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.herotext {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin: 12px 0;
}

#work {
  background-color: #fff;
}

#center {
  text-align: center;
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  margin: 120px 24px 40px 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid #76777a;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 24px;
}

#subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
}

#text-content {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#grid-item1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px 24px 12px 24px;
}

#lang-boxes {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lang-box1 {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 12px 12px 12px 0;
}

.main-button {
  background-color: #ff6b00;
  color: white;
  padding: 12px;
  width: fit-content;
  border: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.grid-item2 {
  margin: 12px 24px 12px 24px;
  background-image: url(/img/grid-item2-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.grid-item-last {
  margin: 12px 24px 120px 24px;
  background-image: url(/img/grid-item2-bg.png);
  height: 386px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.subtitle2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 12px;
  color: #fff;
  padding: 84px 16px 0 16px;
}

.text-content2 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 12px 16px 0 16px;
  color: #fff;
}

.lang-boxes2 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 12px 0 22px 16px;
  padding: 0;
}

.lang-box2 {
  border: none;
  padding: 10px 12px;
  margin: 0 12px 0 0;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.full-width-btn {
  border: none;
  background-color: #ff6b00;
  color: white;
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin: 12px 0;
}

.aboutlang {
  background-color: #1c1a19;
  margin: 0;
}

.aboutlang2 {
  flex-direction: row;
  background-color: #1c1a19;
  margin: 0;
}

#divider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.aboutcontainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 120px 24px 0 24px;
  margin: 0;
}

#bg-img {
  float: right;
}

.lang-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.lang-title {
  color: white;
  text-align: center;
  font-size: 32px;
}

.lang-main-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lang-list-item {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  padding: 12px 0;
  margin: 8px 0;
}

.no-padding {
  padding: 0;
}

.form {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.formTitle {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 24px;
  padding-top: 120px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
  padding-bottom: 124px;
}

.formUl {
  padding: 0;
}

.formInput {
  padding: 10px 0 10px 0;
  border-bottom: 1px lightgray solid;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  border: none;
  padding: 0 16px 0 16px;
}

textarea {
  background-color: #e5e5e5;
  height: 114px;
  width: 327px;
  border: none;
  padding: 12px;
  font-family: Inter, sans-serif;
}

#no-border {
  border: none;
}

.iconsBot {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 10px;
  align-items: center;
}

#marginTop {
  margin-top: 26px;
}

#menu-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-right: 7rem;
  justify-content: center;
  align-items: center;
}

.menu-item{
  padding: 10px 12px;
  color: #fff;
  
}

.menu-style {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1rem;
 
}

#mail-icon {
  width: 60%;
}

@media(max-width: 768px) {
  #menu {
    display: none;
  }
  .vector {
    display: none;
  }
  #divider2 {
    display: none;
  }
}

/* DISPLAY SIZE 768px AND UP */

@media(min-width: 768px) {
  #burgermenu {
    display: none;
  }

  #menulogo {
    padding-left: 7rem;
  }

  #top {
    flex-direction: row;
    background-image: url(/img/Illustration-header-dsktp.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  #headercontainer {
    margin: 0 7rem 0 7rem;
    width: 30rem;
    font-size: 1.2rem;    
    height: 100vh;
  }

  #mainaxis {
    display: block;
    position: absolute;
    left: 3%;
    top: 50%;
  }

  #work-subt {
    display: flex;
    background-color: #fff;
    align-items: center;
  }

  .vector {
    height: 2px;
    margin: 120px 24px 40px 24px;
    padding-right: 7rem;
    width: 60%;
  }

  #center {
    text-align: left;
    color: #1c1a19;
    font-size: 40px;
    font-weight: 400;
    margin: 120px 24px 40px 24px;
    padding: 0 7rem 0 7rem;
    border: none;
    
  }

  .grid-container {
    grid-template-columns: auto auto auto ;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  #grid-item1{
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-content {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: flex-start;
    gap: 1rem;
  }

  .grid-span {
    width: 60%;
    height: auto;
    padding-right: 1.5rem;
  }

  #subtitle {
    margin: 0;
  }

  .aboutlang {
    flex-direction: row;
    background-image: url(/img/about-img-desktp.png);
    background-repeat: no-repeat;
    background-position: right;
  }

  .aboutcontainer {
    margin: 0 7rem 0 7rem;
    width: 30rem;
    font-size: 1.2rem;    
    height: 100vh;
  }

  #bg-img {
    display: none;
  }

  #divider2 {
    margin: 7rem;
    width: 80%;
    
  }

  #divider {
    display: none;
  }

  .aboutcontainer2 {
    display: flex;
    margin: 0 7rem 0 7rem;
    font-size: 1.2rem;    
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 8rem;
  }

  .lang-list-item{
    line-height: normal;
  }

  form {
    border: none;
  }

  .form {
    display: flex;
    flex-direction: row;
  }

  .form2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-top: 1px lightgray solid;
  }

  #get-in-touch {
    width: 36%;
  }

  .formTitle {
    
    text-align: left;
    margin-left: 7rem;
    margin-right: 1.5rem;
  }
  
  .form-desktop {
    align-items: center;
    justify-content: center;
    width: 64%;
  }

  form {
    align-items: flex-start;
    padding-top: 120px;
  }

  #large-form {
    width: 100%;
  }

  .formUl {
    width: 70%;
    margin-left: 5rem;
  }

  textarea {
    width: 100%;
  }

  #last-btn {
    margin-left: 5rem;
  }
}

@media(min-width: 1600px) {
  .herotext {
    font-size: 1.5rem;
    line-height: 36px;
    width: 40rem;
  }

  #subhero {
    font-size: 2rem;
  }

  .hero {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  
  #subtitle {
    font-size: 3rem;
  }

  #text-content {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .full-width-btn {
    margin: 12px 0 0 0;
  }

  .grid-item2 {
    justify-content: space-between;
    box-sizing: content-box;
  }

  .grid-item-last {
    justify-content: space-between;
    box-sizing: content-box;
  }
}